<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Method 1 - Vue in Jinja</title>
    </head>
    <body>
    <!-- The id 'vm' is just for consistency - it can be anything you want -->
        <div id="vm">
            <p>{{ greeting }}</p>
            <p>[[ greeting ]]</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>