<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="vm" class="container">
            <p>[[ greeting ]]</p>
            <p>[[ flaskGreeting ]]</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="{{ url_for('client_bp.static', filename='index.js') }}"></script>
    </body>
</html>